body{
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
p{
    text-align: center;
}
main{
    max-width: 600px;
    margin: 20px auto;
    background-color: black;
    color: white;
    padding: 20px;
    border: 3px solid white(221, 0, 255);
}
h1{
    color: white;
    text-align: center;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10px;
}
select{
    width: 98%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    font-size: 16px;
}
input[type="text"],input[type="date"],input[type="time"],input[type="submit"]{
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#submit{
    display: flex;
    justify-content: space-between;
}
footer{
    list-style: none;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}
form {
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
}